.sortable {
    cursor: pointer;
    color: #dd5;
}

/*slightly modified*/
.warning {
    background-color: #995a5a;
}

.stripe {
    background-color: skyblue;
}

/*slightly modified*/
table {
  color: rgb(27, 12, 80);
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #dad8d8;
}

.header-row {
    background: #34495E;
    color: #fff
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}